In [7]:
import re
import datetime
import pymysql

data_path = r"D:\Chen_Keyu\code\db_update\gp\金猪小卡片.xlsx"
wb = openpyxl.load_workbook(data_path, data_only=True)
ws = wb['日度-肥猪价格']

C:\Users\admin\AppData\Local\Temp\ipykernel_20356\1620434319.py:9: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  ws1 = wb.get_sheet_by_name('日度-肥猪价格')

In [ ]:
'''
检索数据库日期表并返回列表，对比导入数据日期，不在日期列表内所有数据获取并导入数据库
'''

In [3]:
from iFinDPy import *

THS_iFinDLogin('ztqh165', 'ZDXWXY123')
list_demo = THS_DS('LH2309.DCE, LH2311.DCE','ths_close_price_future','','Days:Alldays','2023-08-31','2023-08-31')
list_demo.data
THS_iFinDLogout()

d:\miniconda\envs\ckywork\Lib\site-packages\iFinDPy.pth

0

In [4]:
list_demo.data

         time     thscode  ths_close_price_future
0  2023-08-31  LH2309.DCE                 16225.0
1  2023-08-31  LH2311.DCE                 16845.0

In [5]:
fp_data = list_demo.data
fp_data.iloc[0][2]

16225.0

In [6]:
# 打开数据库连接
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
for i in range(0, len(fp_data)):
    date = fp_data.iloc[i][0]
    fp_type = fp_data.iloc[i][1]
    price = fp_data.iloc[i][2]
    cursor.execute(
        "INSERT INTO closed_price VALUES ('%s', '%s', %d);"
        % (date, fp_type, price)
    )
    print("%s %s %d 已录入" % (date, fp_type, price))  
    conn.commit()

    cursor.execute(
        "UPDATE closed_price SET closed_price.type = 'LH2309' WHERE closed_price.type='LH2309.DCE';"
    )
    conn.commit()

    cursor.execute(
        "UPDATE closed_price SET closed_price.type = 'LH2311' WHERE closed_price.type='LH2311.DCE';"
    )
    conn.commit()
cursor.close()
conn.close()

2023-08-31 LH2309.DCE 16225 已录入
2023-08-31 LH2311.DCE 16845 已录入

In [57]:
import pandas as pd

list_demo.data.iloc[1,0]

'2023-08-11'

In [8]:
# 打开数据库连接
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
 
for j in range (2, ws.max_column + 1):
    district = str(ws.cell(1, j).value)
    # for i in range (2, ws1.max_row):
    date = ws.cell(2, 1).value
    if type(date) != datetime.datetime:
        continue
    else:
        date = date.strftime("%Y/%m/%d")
        price = ws.cell(2, j).value
        price = price
        # if type(price) == float:
            # 使用 execute()  方法执行 SQL 查询 
        cursor.execute(
            "INSERT INTO district_price_gp VALUES ('%s', %.2f, %d, '%s');"
            % (date, price, 120, district)
        )
        conn.commit()
    # else:
    #     continue
conn.close()

In [ ]:
# 打开数据库连接
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
 
for j in range (2, 12):
    district = str(ws.cell(1, j).value)
    # for i in range (2, ws1.max_row):
    date = ws.cell(2, 1).value
    if type(date) != datetime.datetime:
        continue
    else:
        date = date.strftime("%Y/%m/%d")
        price = ws.cell(2, j).value
        price = price
        # if type(price) == float:
            # 使用 execute()  方法执行 SQL 查询 
        cursor.execute(
            "INSERT INTO district_price_gp_cd VALUES ('%s', %.2f, '%s');"
            % (date, price, district)
        )
        conn.commit()
    # else:
    #     continue
conn.close()

In [ ]:
# 打开数据库连接
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
 
for j in range (2, ws.max_column + 1):
    district = str(ws.cell(1, j).value)
    for i in range (2, 10):
        date = ws.cell(i, 1).value
        date = date.strftime("%Y/%m/%d")
        price = ws.cell(i, j).value
        price = price
        # if type(price) == float:
            # 使用 execute()  方法执行 SQL 查询 
        cursor.execute(
            "UPDATE district_price_gp SET price = %.2f WHERE date = '%s' AND weight = %d AND district = '%S';"
            % (price, date, 120, district)
        )
        conn.commit()
    # else:
    #     continue
conn.close()