In [7]:
import openpyxl
import pyodbc
import re
import datetime
import pymysql

data_path = r"D:\Chen_Keyu\code\db_update\gp\金猪小卡片.xlsx"
wb = openpyxl.load_workbook(data_path, data_only=True)
ws1 = wb.get_sheet_by_name('日度-肥猪价格')

C:\Users\admin\AppData\Local\Temp\ipykernel_20356\1620434319.py:9: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  ws1 = wb.get_sheet_by_name('日度-肥猪价格')

In [9]:
today = datetime.date.today()
today

tmr = today + datetime.timedelta(days=1)
dotmr = today + datetime.timedelta(days=2)

tmr
dotmr

datetime.date(2023, 8, 4)

In [6]:
ws.max_column

19

In [7]:
ws.max_row

263

In [10]:
date = ws.cell(row=3, column=1).value
date1 = datetime.date.today()
date1

datetime.date(2023, 7, 31)

In [26]:
test = ws.cell(row=2, column=2).value
number = int(re.findall(r"\d+", test)[0])
number

120

In [53]:
date1 = ws.cell(3,1).value
date2 = date1.strftime("%Y/%m/%d")
date2
print('日期为 "%s"' % (date2))

日期为 "2021/02/19"

In [30]:
if ws.cell(row=1, column=3).value:
    print ('yes')
else:
    print ('no')

no

In [11]:
db_path = r"D:\data\data_be.accdb"
conn =  pyodbc.connect(r"DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ="+ db_path)
cursor = conn.cursor()

'''
cursor.execute(
    "INSERT INTO 金猪地区价格([日期],[价格],[体重段],[地区]) VALUES ('%s', %f, %d, '%s');"
    % (date, price, weight, district)
)
conn.commit()
'''
for i in range(2, ws.max_column +1):
    if ws.cell(row=1, column=i).value:
        for j in range (3, ws.max_row +1):
            # 120段
            date = ws.cell(j, 1).value
            date = date.strftime("%Y/%m/%d")
            price = ws.cell(j, i).value
            weight = 120
            district = ws.cell(1, i).value
            if price: # 如果有价格，则输入，否则跳过
                cursor.execute(
                    "INSERT INTO 金猪地区价格([日期],[价格],[体重段],[地区]) VALUES ('%s', %f, %d, '%s');"
                    % (date, price, weight, district)
                )
                conn.commit()
                print("%s %s 120体重段 价格已录入" % (date, district))
            else:
                print('%s 无数据' % (date))
                continue
            # 150段
            date = ws.cell(j, 1).value
            date = date.strftime("%Y/%m/%d")
            price = ws.cell(j, i + 1).value
            weight = 150
            district = ws.cell(1, i).value
            if price: # 如果有价格，则输入，否则跳过
                cursor.execute(
                    "INSERT INTO 金猪地区价格([日期],[价格],[体重段],[地区]) VALUES ('%s', %f, %d, '%s');"
                    % (date, price, weight, district)
                )
                conn.commit()
                print("%s %s 150体重段 价格已录入" % (date, district))
            else:
                print('%s 无数据' % (date))
                continue
cursor.close()
conn.close()

2023/08/01 山东 120体重段 价格已录入
2023/08/01 山东 150体重段 价格已录入
2023/07/31 山东 120体重段 价格已录入
2023/07/31 山东 150体重段 价格已录入
2023/07/30 山东 120体重段 价格已录入
2023/07/30 山东 150体重段 价格已录入
2023/07/29 山东 120体重段 价格已录入
2023/07/29 山东 150体重段 价格已录入
2023/07/28 山东 120体重段 价格已录入
2023/07/28 山东 150体重段 价格已录入
2023/08/01 河南 120体重段 价格已录入
2023/08/01 河南 150体重段 价格已录入
2023/07/31 河南 120体重段 价格已录入
2023/07/31 河南 150体重段 价格已录入
2023/07/30 河南 120体重段 价格已录入
2023/07/30 河南 150体重段 价格已录入
2023/07/29 河南 120体重段 价格已录入
2023/07/29 河南 150体重段 价格已录入
2023/07/28 河南 120体重段 价格已录入
2023/07/28 河南 150体重段 价格已录入
2023/08/01 黑龙江 120体重段 价格已录入
2023/08/01 黑龙江 150体重段 价格已录入
2023/07/31 黑龙江 120体重段 价格已录入
2023/07/31 黑龙江 150体重段 价格已录入
2023/07/30 黑龙江 120体重段 价格已录入
2023/07/30 黑龙江 150体重段 价格已录入
2023/07/29 黑龙江 120体重段 价格已录入
2023/07/29 黑龙江 150体重段 价格已录入
2023/07/28 黑龙江 120体重段 价格已录入
2023/07/28 黑龙江 150体重段 价格已录入
2023/08/01 辽宁 120体重段 价格已录入
2023/08/01 辽宁 150体重段 价格已录入
2023/07/31 辽宁 120体重段 价格已录入
2023/07/31 辽宁 150体重段 价格已录入
2023/07/30 辽宁 120体重段 价格已录入
2023/07/30 辽宁 150体重段 价格已录入
2023/07/29 辽宁 120体重段 价格已录入
2023/07/29 辽宁 150体重段 价格已录入
2023/07/28 辽宁 120体重段 价格已录入
2023/07/28 辽宁 150体重段 价格已录入
2023/08/01 吉林 120体重段 价格已录入
2023/08/01 吉林 150体重段 价格已录入
2023/07/31 吉林 120体重段 价格已录入
2023/07/31 吉林 150体重段 价格已录入
2023/07/30 吉林 120体重段 价格已录入
2023/07/30 吉林 150体重段 价格已录入
2023/07/29 吉林 120体重段 价格已录入
2023/07/29 吉林 150体重段 价格已录入
2023/07/28 吉林 120体重段 价格已录入
2023/07/28 吉林 150体重段 价格已录入
2023/08/01 江苏 120体重段 价格已录入
2023/08/01 江苏 150体重段 价格已录入
2023/07/31 江苏 120体重段 价格已录入
2023/07/31 江苏 150体重段 价格已录入
2023/07/30 江苏 120体重段 价格已录入
2023/07/30 江苏 150体重段 价格已录入
2023/07/29 江苏 120体重段 价格已录入
2023/07/29 江苏 150体重段 价格已录入
2023/07/28 江苏 120体重段 价格已录入
2023/07/28 江苏 150体重段 价格已录入
2023/08/01 江西 120体重段 价格已录入
2023/08/01 江西 150体重段 价格已录入
2023/07/31 江西 120体重段 价格已录入
2023/07/31 江西 150体重段 价格已录入
2023/07/30 江西 120体重段 价格已录入
2023/07/30 江西 150体重段 价格已录入
2023/07/29 江西 120体重段 价格已录入
2023/07/29 江西 150体重段 价格已录入
2023/07/28 江西 120体重段 价格已录入
2023/07/28 江西 150体重段 价格已录入
2023/08/01 湖北 120体重段 价格已录入
2023/08/01 湖北 150体重段 价格已录入
2023/07/31 湖北 120体重段 价格已录入
2023/07/31 湖北 150体重段 价格已录入
2023/07/30 湖北 120体重段 价格已录入
2023/07/30 湖北 150体重段 价格已录入
2023/07/29 湖北 120体重段 价格已录入
2023/07/29 湖北 150体重段 价格已录入
2023/07/28 湖北 120体重段 价格已录入
2023/07/28 湖北 150体重段 价格已录入
2023/08/01 四川 120体重段 价格已录入
2023/08/01 四川 150体重段 价格已录入
2023/07/31 四川 120体重段 价格已录入
2023/07/31 四川 150体重段 价格已录入
2023/07/30 四川 120体重段 价格已录入
2023/07/30 四川 150体重段 价格已录入
2023/07/29 四川 120体重段 价格已录入
2023/07/29 四川 150体重段 价格已录入
2023/07/28 四川 120体重段 价格已录入
2023/07/28 四川 150体重段 价格已录入
2023/08/01 湖南 120体重段 价格已录入
2023/08/01 湖南 150体重段 价格已录入
2023/07/31 湖南 120体重段 价格已录入
2023/07/31 湖南 150体重段 价格已录入
2023/07/30 湖南 120体重段 价格已录入
2023/07/30 湖南 150体重段 价格已录入
2023/07/29 湖南 120体重段 价格已录入
2023/07/29 湖南 150体重段 价格已录入
2023/07/28 湖南 120体重段 价格已录入
2023/07/28 湖南 150体重段 价格已录入

In [ ]:
'''
检索数据库日期表并返回列表，对比导入数据日期，不在日期列表内所有数据获取并导入数据库
'''

In [15]:
ws.cell(2,3).value

21.4

In [19]:

db_path = r"D:\data\data_be.accdb"
conn =  pyodbc.connect(r"DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ="+ db_path)
cursor = conn.cursor()

for i in range(1, ws.max_column+1):
    if ws.cell(1,i).value == '全国白条均价':
        for j in range(2, ws.max_row+1):
            date = ws.cell(j, 1).value
            date1 = date.strftime("%Y/%m/%d")
            bprice = ws.cell(j, 3).value
            cursor.execute(
                "UPDATE 日度数据金猪 SET 白条价格 = %.2f WHERE 日期 = #%s#;" % (bprice, date1)
            )
            cursor.commit()

cursor.close()
conn.close()

In [46]:
db_path = r"D:\data\data_be.accdb"
conn =  pyodbc.connect(r"DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ="+ db_path)
cursor = conn.cursor()

list = []
for i in range(1, ws1.max_column + 1): # 检索各地标肥价格
    if ws1.cell(1, i).value == '各地标肥价格差':
        for j in range (i, ws1.max_column + 1): # 检索地区
            if ws1.cell(3, j + 1).value:
                date = ws1.cell(7, i).value
                date = date.strftime("%Y/%m/%d")
                district = ws1.cell(3, j + 1).value
                price_120 = ws1.cell(7, j+1).value
                price_150 = ws1.cell(7, j+2).value
                print ("'%s' %s 120价格为 %.2f, 150价格为 %.2f" % (date, district, price_120, price_150))
                list.append(price_150)
                cursor.execute(
                    "INSERT INTO 金猪地区价格([日期],[价格],[体重段],[地区]) VALUES ('%s', %f, %d, '%s');"
                    % (date, price_120, 120, district)
                )
                conn.commit()
                print("%s %s 120体重段 价格已录入" % (date, district))
                cursor.execute(
                    "INSERT INTO 金猪地区价格([日期],[价格],[体重段],[地区]) VALUES ('%s', %f, %d, '%s');"
                    % (date, price_150, 150, district)
                )
                conn.commit()
cursor.close()
conn.close()

'2023/08/19' 山东 120价格为 8.55, 150价格为 8.75
2023/08/19 山东 120体重段 价格已录入
'2023/08/19' 河南 120价格为 8.50, 150价格为 8.70
2023/08/19 河南 120体重段 价格已录入
'2023/08/19' 黑龙江 120价格为 8.40, 150价格为 8.30
2023/08/19 黑龙江 120体重段 价格已录入
'2023/08/19' 辽宁 120价格为 8.50, 150价格为 8.60
2023/08/19 辽宁 120体重段 价格已录入
'2023/08/19' 吉林 120价格为 8.40, 150价格为 8.40
2023/08/19 吉林 120体重段 价格已录入
'2023/08/19' 江苏 120价格为 8.75, 150价格为 8.90
2023/08/19 江苏 120体重段 价格已录入
'2023/08/19' 江西 120价格为 8.70, 150价格为 8.90
2023/08/19 江西 120体重段 价格已录入
'2023/08/19' 湖北 120价格为 8.60, 150价格为 8.90
2023/08/19 湖北 120体重段 价格已录入
'2023/08/19' 四川 120价格为 8.30, 150价格为 8.60
2023/08/19 四川 120体重段 价格已录入
'2023/08/19' 湖南 120价格为 8.60, 150价格为 8.90
2023/08/19 湖南 120体重段 价格已录入

In [3]:
import numpy as np
Mean = np.mean(list)
Mean

8.735000000000001

In [3]:
from iFinDPy import *

THS_iFinDLogin('ztqh165', 'ZDXWXY123')
list_demo = THS_DS('LH2309.DCE, LH2311.DCE','ths_close_price_future','','Days:Alldays','2023-08-31','2023-08-31')
list_demo.data
THS_iFinDLogout()

d:\miniconda\envs\ckywork\Lib\site-packages\iFinDPy.pth

0

In [4]:
list_demo.data

         time     thscode  ths_close_price_future
0  2023-08-31  LH2309.DCE                 16225.0
1  2023-08-31  LH2311.DCE                 16845.0

In [5]:
fp_data = list_demo.data
fp_data.iloc[0][2]

16225.0

In [6]:
# 打开数据库连接
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
for i in range(0, len(fp_data)):
    date = fp_data.iloc[i][0]
    fp_type = fp_data.iloc[i][1]
    price = fp_data.iloc[i][2]
    cursor.execute(
        "INSERT INTO closed_price VALUES ('%s', '%s', %d);"
        % (date, fp_type, price)
    )
    print("%s %s %d 已录入" % (date, fp_type, price))  
    conn.commit()

    cursor.execute(
        "UPDATE closed_price SET closed_price.type = 'LH2309' WHERE closed_price.type='LH2309.DCE';"
    )
    conn.commit()

    cursor.execute(
        "UPDATE closed_price SET closed_price.type = 'LH2311' WHERE closed_price.type='LH2311.DCE';"
    )
    conn.commit()
cursor.close()
conn.close()

2023-08-31 LH2309.DCE 16225 已录入
2023-08-31 LH2311.DCE 16845 已录入

In [57]:
import pandas as pd

list_demo.data.iloc[1,0]

'2023-08-11'

In [11]:
db_path = r"D:\data\data_be.accdb"
conn =  pyodbc.connect(r"DRIVER={Microsoft Access Driver (*.mdb, *.accdb)};DBQ="+ db_path)
cursor = conn.cursor()

for i in range (1, ws.max_column + 1):
    if ws.cell(1, i).value:
        for j in range(3, ws.max_row + 1):
            date = ws.cell(j, 1).value
            date = date.strftime("%Y/%m/%d")
            district = ws.cell(1, i).value
            price_90 = ws.cell(j, i).value
            price_105 = ws.cell(j, i + 1).value
            weight_90 = '90-105'
            weight_105 = '105-125'
            cursor.execute(
                "INSERT INTO 日度数据牧原([日期],[数据源],[价格],[体重段],[地区]) VALUES ('%s','牧原', %f, '%s', '%s');"
                % (date, price_90, weight_90, district)
            )
            conn.commit()
            cursor.execute(
                "INSERT INTO 日度数据牧原([日期],[数据源],[价格],[体重段],[地区]) VALUES ('%s','牧原', %f, '%s', '%s');"
                % (date, price_105, weight_105, district)
            )
            conn.commit()
cursor.close()
conn.close()

In [8]:
0.26-0.25-0.5

-0.49

In [9]:
-0.65-0.14

-0.79

In [10]:
43*2+36-5

117

In [43]:
ws1.cell(1,2).value
ws1.max_column

22

In [6]:
ws1.cell(1, 2).value

'安徽'

In [8]:
# 打开数据库连接
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
 
for j in range (2, 12):
    district = str(ws1.cell(1, j).value)
    # for i in range (2, ws1.max_row):
    date = ws1.cell(7, 1).value
    if type(date) != datetime.datetime:
        continue
    else:
        date = date.strftime("%Y/%m/%d")
        price = ws1.cell(7, j).value
        price = price
        # if type(price) == float:
            # 使用 execute()  方法执行 SQL 查询 
        cursor.execute(
            "INSERT INTO district_price_gp VALUES ('%s', %.2f, %d, '%s');"
            % (date, price, 150, district)
        )
        conn.commit()
    # else:
    #     continue
conn.close()

In [13]:

# 打开数据库连接
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
 
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
 
for j in range (2, ws1.max_column+1):
    district = str(ws1.cell(1, j).value)
    date = ws1.cell(10, 1).value
    price = ws1.cell(10, j).value
    if price:
        # 使用 execute()  方法执行 SQL 查询 
        cursor.execute(
            "INSERT INTO district_price_gp VALUES ('%s', %.2f, %d, '%s');"
            % (date, price, 150, district)
        )
        conn.commit()
    else:
        continue
conn.close()

In [ ]:
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
                     
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
cursor.execute(
            "UPDATE daily_data_gp SET daily_data_gp.KILLED_ARRIVED = %d, daily_data_gp.KILLED_SALES_REAL = %d, daily_data_gp.KILLED_INVENTORY = %d  WHERE daily_data_gp.DATE = '%s';"
)
conn.commit()
conn.close()

In [ ]:
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
                     
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
cursor.execute(
            "UPDATE daily_data_gp SET daily_data_gp.KILLED_ARRIVED = %d, daily_data_gp.KILLED_SALES_REAL = %d, daily_data_gp.KILLED_INVENTORY = %d  WHERE daily_data_gp.DATE = '%s';"
)
conn.commit()
conn.close()

In [ ]:
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
                     
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
cursor.execute(
            "UPDATE daily_data_gp SET daily_data_gp.KILLED_ARRIVED = %d, daily_data_gp.KILLED_SALES_REAL = %d, daily_data_gp.KILLED_INVENTORY = %d  WHERE daily_data_gp.DATE = '%s';"
)
conn.commit()
conn.close()

In [ ]:
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
                     
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
cursor.execute(
            "UPDATE daily_data_gp SET daily_data_gp.KILLED_ARRIVED = %d, daily_data_gp.KILLED_SALES_REAL = %d, daily_data_gp.KILLED_INVENTORY = %d  WHERE daily_data_gp.DATE = '%s';"
)
conn.commit()
conn.close()

In [ ]:
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
                     
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
cursor.execute(
            "UPDATE daily_data_gp SET daily_data_gp.KILLED_ARRIVED = %d, daily_data_gp.KILLED_SALES_REAL = %d, daily_data_gp.KILLED_INVENTORY = %d  WHERE daily_data_gp.DATE = '%s';"
)
conn.commit()
conn.close()

In [ ]:
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
                     
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
cursor.execute(
            "UPDATE daily_data_gp SET daily_data_gp.KILLED_ARRIVED = %d, daily_data_gp.KILLED_SALES_REAL = %d, daily_data_gp.KILLED_INVENTORY = %d  WHERE daily_data_gp.DATE = '%s';"
)
conn.commit()
conn.close()

In [ ]:
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
                     
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
cursor.execute(
            "UPDATE daily_data_gp SET daily_data_gp.KILLED_ARRIVED = %d, daily_data_gp.KILLED_SALES_REAL = %d, daily_data_gp.KILLED_INVENTORY = %d  WHERE daily_data_gp.DATE = '%s';"
)
conn.commit()
conn.close()

In [18]:
ws1.cell(283,3).value

'\u3000'

In [17]:
conn = pymysql.connect(host='gz-cdb-50zykywd.sql.tencentcdb.com',
                     port=58639,
                     user='user_biz',
                     password='V6VK2MtXYQCY',
                     database='biz_data')
                     
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = conn.cursor()
for i in range(2, ws1.max_row + 1):
    date = ws1.cell(row=i, column=1).value
    date = date.strftime("%Y-%m-%d")
    sh = ws1.cell(row=i, column=2).value
    my = ws1.cell(row=i, column=3).value
    if type(sh) != str:
        cursor.execute(
            "INSERT INTO slaughtered_amount(date, sh_amount, my_amount) VALUES('%s', %d, %d);"
            % (date, sh, my)
        )
        conn.commit()
    weight = ws1.cell(row=i, column=5).value
    if weight:
        if type(weight) != str:
            cursor.execute(
                "UPDATE slaughtered_amount SET weight = %.2f WHERE date = '%s';"
                % (weight, date)
            )
            conn.commit()
conn.close()

TypeError: %d format: a real number is required, not str

In [15]:
for i in range(2, ws1.max_row + 1):
    date = ws1.cell(row=i, column=1).value
    date = date.strftime("%Y-%m-%d")
    sh = ws1.cell(row=i, column=2).value
    my = ws1.cell(row=i, column=3).value
    if type(sh) != str:
        print('%s' % (date))

2023-08-26
2023-08-25
2023-08-24
2023-08-23
2023-08-22
2023-08-21
2023-08-20
2023-08-19
2023-08-18
2023-08-17
2023-08-16
2023-08-15
2023-08-14
2023-08-13
2023-08-12
2023-08-11
2023-08-10
2023-08-09
2023-08-08
2023-08-07
2023-08-06
2023-08-05
2023-08-04
2023-08-03
2023-08-02
2023-08-01
2023-07-31
2023-07-30
2023-07-29
2023-07-28
2023-07-27
2023-07-26
2023-07-25
2023-07-24
2023-07-23
2023-07-22
2023-07-21
2023-07-20
2023-07-19
2023-07-18
2023-07-17
2023-07-16
2023-07-15
2023-07-14
2023-07-13
2023-07-12
2023-07-11
2023-07-10
2023-07-09
2023-07-08
2023-07-07
2023-07-06
2023-07-05
2023-07-04
2023-07-03
2023-07-02
2023-07-01
2023-06-30
2023-06-29
2023-06-28
2023-06-27
2023-06-26
2023-06-25
2023-06-24
2023-06-23
2023-06-22
2023-06-21
2023-06-20
2023-06-19
2023-06-18
2023-06-17
2023-06-16
2023-06-15
2023-06-14
2023-06-13
2023-06-12
2023-06-11
2023-06-10
2023-06-09
2023-06-08
2023-06-07
2023-06-06
2023-06-05
2023-06-04
2023-06-03
2023-06-02
2023-06-01
2023-05-31
2023-05-30
2023-05-29
2023-05-28
2023-05-27
2023-05-26
2023-05-25
2023-05-24
2023-05-23
2023-05-22
2023-05-21
2023-05-20
2023-05-19
2023-05-18
2023-05-17
2023-05-16
2023-05-15
2023-05-14
2023-05-13
2023-05-12
2023-05-11
2023-05-10
2023-05-09
2023-05-08
2023-05-07
2023-05-06
2023-05-05
2023-05-04
2023-05-03
2023-05-02
2023-05-01
2023-04-30
2023-04-29
2023-04-28
2023-04-27
2023-04-26
2023-04-25
2023-04-24
2023-04-23
2023-04-22
2023-04-21
2023-04-20
2023-04-19
2023-04-18
2023-04-17
2023-04-16
2023-04-15
2023-04-14
2023-04-13
2023-04-12
2023-04-11
2023-04-10
2023-04-09
2023-04-08
2023-04-07
2023-04-06
2023-04-05
2023-04-04
2023-04-03
2023-04-02
2023-04-01
2023-03-31
2023-03-30
2023-03-29
2023-03-28
2023-03-27
2023-03-26
2023-03-25
2023-03-24
2023-03-23
2023-03-22
2023-03-21
2023-03-20
2023-03-19
2023-03-18
2023-03-17
2023-03-16
2023-03-15
2023-03-14
2023-03-13
2023-03-12
2023-03-11
2023-03-10
2023-03-09
2023-03-08
2023-03-07
2023-03-06
2023-03-05
2023-03-04
2023-03-03
2023-03-02
2023-03-01
2023-02-28
2023-02-27
2023-02-26
2023-02-25
2023-02-24
2023-02-23
2023-02-22
2023-02-21
2023-02-20
2023-02-19
2023-02-18
2023-02-17
2023-02-16
2023-02-15
2023-02-14
2023-02-13
2023-02-12
2023-02-11
2023-02-10
2023-02-09
2023-02-08
2023-02-07
2023-02-06
2023-02-05
2023-02-04
2023-02-03
2023-02-02
2023-02-01
2023-01-31
2023-01-30
2023-01-29
2023-01-28
2023-01-18
2023-01-17
2023-01-16
2023-01-15
2023-01-14
2023-01-13
2023-01-12
2023-01-11
2023-01-10
2023-01-09
2023-01-08
2023-01-07
2023-01-06
2023-01-05
2023-01-04
2023-01-03
2023-01-02
2023-01-01
2022-12-31
2022-12-30
2022-12-29
2022-12-28
2022-12-27
2022-12-26
2022-12-25
2022-12-24
2022-12-23
2022-12-22
2022-12-21
2022-12-20
2022-12-19
2022-12-18
2022-12-17
2022-12-16
2022-12-15
2022-12-14
2022-12-13
2022-12-12
2022-12-11
2022-12-10
2022-12-09
2022-12-08
2022-12-07
2022-12-06
2022-12-05
2022-12-04
2022-12-03
2022-12-02
2022-12-01
2022-11-30
2022-11-29
2022-11-28
2022-11-27
2022-11-26
2022-11-25
2022-11-24
2022-11-23
2022-11-22
2022-11-21
2022-11-20
2022-11-19
2022-11-18
2022-11-17
2022-11-16
2022-11-15
2022-11-14
2022-11-13
2022-11-12
2022-11-11
2022-11-10
2022-11-09
2022-11-08
2022-11-07
2022-11-06
2022-11-05
2022-11-04
2022-11-03
2022-11-02
2022-11-01
2022-10-31
2022-10-30
2022-10-29
2022-10-28
2022-10-27
2022-10-26
2022-10-25
2022-10-24
2022-10-23
2022-10-22
2022-10-21
2022-10-20
2022-10-19
2022-10-18
2022-10-17
2022-10-16
2022-10-15
2022-10-14
2022-10-13
2022-10-12
2022-10-11
2022-10-07
2022-10-06
2022-10-05
2022-10-04
2022-10-03
2022-10-02
2022-10-01
2022-09-30
2022-09-29
2022-09-28
2022-09-27
2022-09-26
2022-09-25
2022-09-24
2022-08-31
2022-08-30
2022-08-29
2022-08-28
2022-08-27
2022-08-26
2022-08-25
2022-08-24
2022-08-23
2022-08-22
2022-08-21
2022-08-20
2022-08-19
2022-08-18
2022-08-17
2022-08-16
2022-08-15
2022-08-14
2022-08-13
2022-08-12
2022-08-11
2022-08-10
2022-08-09
2022-08-08
2022-08-07
2022-08-06
2022-08-05
2022-08-04
2022-08-03
2022-08-02
2022-08-01
2022-07-31
2022-07-30
2022-07-29
2022-07-28
2022-07-27
2022-07-26
2022-07-25
2022-07-24
2022-07-23
2022-07-22
2022-07-21
2022-07-20
2022-07-19
2022-07-18
2022-07-17
2022-07-16
2022-07-15
2022-07-14
2022-07-13
2022-07-12
2022-07-11
2022-07-10
2022-07-09
2022-07-08
2022-07-07
2022-07-06
2022-07-05
2022-07-04
2022-07-03
2022-07-02
2022-07-01
2022-06-30
2022-06-29
2022-06-28
2022-06-27
2022-06-26
2022-06-25
2022-06-24
2022-06-23
2022-06-22
2022-06-21
2022-06-20
2022-06-19
2022-06-18
2022-06-17
2022-06-16
2022-06-15
2022-06-14
2022-06-13
2022-06-12
2022-06-11
2022-06-10
2022-06-09
2022-06-08
2022-06-07
2022-06-06
2022-06-05
2022-06-04
2022-06-03
2022-06-02
2022-06-01
2022-05-31
2022-05-30
2022-05-29
2022-05-28
2022-05-27
2022-05-26
2022-05-25
2022-05-24
2022-05-23
2022-05-22
2022-05-21
2022-05-20
2022-05-19
2022-05-18
2022-05-17
2022-05-16
2022-05-15
2022-05-14
2022-05-13
2022-05-12
2022-05-11
2022-05-10
2022-05-09
2022-05-08
2022-05-07
2022-05-06
2022-05-05
2022-05-04
2022-05-03
2022-05-02
2022-05-01
2022-04-30
2022-04-29
2022-04-28
2022-04-27
2022-04-26
2022-04-25
2022-04-24
2022-04-23
2022-04-22
2022-04-21
2022-04-20
2022-04-19
2022-04-18
2022-04-17
2022-04-16
2022-04-15
2022-04-14
2022-04-13
2022-04-12
2022-04-11
2022-04-10
2022-04-09
2022-04-08
2022-04-07
2022-04-06
2022-04-05
2022-04-04
2022-04-03
2022-04-02
2022-04-01
2022-03-31
2022-03-30
2022-03-29
2022-03-28
2022-03-27
2022-03-26
2022-03-25
2022-03-24
2022-03-23
2022-03-22
2022-03-21
2022-03-20
2022-03-19
2022-03-18
2022-03-17
2022-03-16
2022-03-15
2022-03-14
2022-03-13
2022-03-12
2022-03-11
2022-03-10
2022-03-09
2022-03-08
2022-03-07
2022-03-06
2022-03-05
2022-03-04
2022-03-03
2022-03-02
2022-03-01
2022-02-28
2022-02-27
2022-02-26
2022-02-25
2022-02-24
2022-02-23
2022-02-22
2022-02-21
2022-02-20
2022-02-19
2022-02-18
2022-02-17
2022-02-16
2022-02-15
2022-02-14
2022-02-13
2022-02-12
2022-02-11
2022-02-10
2022-02-09
2022-02-08
2022-02-07
2022-01-28
2022-01-27
2022-01-26
2022-01-25
2022-01-24
2022-01-23
2022-01-22
2022-01-21
2022-01-20
2022-01-19
2022-01-18
2022-01-17
2022-01-16
2022-01-15
2022-01-14
2022-01-13
2022-01-12
2022-01-11
2022-01-10
2022-01-09
2022-01-08
2022-01-07
2022-01-06
2022-01-05
2022-01-04
2022-01-03
2022-01-02
2022-01-01
2021-12-31
2021-12-30
2021-12-29
2021-12-28
2021-12-27
2021-12-26
2021-12-25
2021-12-24
2021-12-23
2021-12-22
2021-12-21
2021-12-20
2021-12-19
2021-12-18
2021-12-17
2021-12-16
2021-12-15
2021-12-14
2021-12-13
2021-12-12
2021-12-11
2021-12-10
2021-12-09
2021-12-08
2021-12-07
2021-12-06
2021-12-05
2021-12-04
2021-12-03
2021-12-02
2021-12-01
2021-11-30
2021-11-29
2021-11-28
2021-11-27
2021-11-26
2021-11-25
2021-11-24
2021-11-23
2021-11-22
2021-11-21
2021-11-20
2021-11-19
2021-11-18
2021-11-17
2021-11-16
2021-11-15
2021-11-14
2021-11-13
2021-11-12
2021-11-11
2021-11-10
2021-11-09
2021-11-08
2021-11-07
2021-11-06
2021-11-05
2021-11-04
2021-11-03
2021-11-02
2021-11-01
2021-10-31
2021-10-30
2021-10-29
2021-10-28
2021-10-27
2021-10-26
2021-10-25
2021-10-24
2021-10-23
2021-10-22
2021-10-21
2021-10-20
2021-10-19
2021-10-18
2021-10-17
2021-10-16
2021-10-15
2021-10-14
2021-10-13
2021-10-12
2021-10-11
2021-10-10
2021-10-09
2021-10-08
2021-10-07
2021-10-06
2021-10-05
2021-10-04
2021-10-03
2021-10-02
2021-10-01
2021-09-30
2021-09-29
2021-09-28
2021-09-27
2021-09-26
2021-09-25
2021-09-24
2021-09-23
2021-09-22
2021-09-21
2021-09-20
2021-09-19
2021-09-18
2021-09-17
2021-09-16
2021-09-15
2021-09-14
2021-09-13
2021-09-12
2021-09-11
2021-09-10
2021-09-09
2021-09-08
2021-09-07
2021-09-06
2021-09-05
2021-09-04
2021-09-03
2021-09-02
2021-09-01
2021-08-31
2021-08-30
2021-08-29
2021-08-28
2021-08-27
2021-08-26
2021-08-25
2021-08-24
2021-08-23
2021-08-22
2021-08-21
2021-08-20
2021-08-19
2021-08-18
2021-08-17
2021-08-16
2021-08-15
2021-08-14
2021-08-13
2021-08-12
2021-08-11
2021-08-10
2021-08-09
2021-08-08
2021-08-07
2021-08-06
2021-08-05
2021-08-04
2021-08-03
2021-08-02
2021-08-01
2021-07-31
2021-07-30
2021-07-29
2021-07-28
2021-07-27
2021-07-26
2021-07-25
2021-07-24
2021-07-23
2021-07-22
2021-07-21
2021-07-20
2021-07-19
2021-07-18
2021-07-17
2021-07-16
2021-07-15
2021-07-14
2021-07-13
2021-07-12
2021-07-11
2021-07-10
2021-07-09
2021-07-08
2021-07-07
2021-07-06
2021-07-05
2021-07-04
2021-07-03
2021-07-02
2021-07-01
2021-06-30
2021-06-29
2021-06-28
2021-06-27
2021-06-26
2021-06-25
2021-06-24
2021-06-23
2021-06-22
2021-06-21
2021-06-20
2021-06-19
2021-06-18
2021-06-17
2021-06-16
2021-06-15
2021-06-14
2021-06-13
2021-06-12
2021-06-11
2021-06-10
2021-06-09
2021-06-08
2021-06-07
2021-06-06
2021-06-05
2021-06-04
2021-06-03
2021-06-02
2021-06-01
2021-05-31
2021-05-30
2021-05-29
2021-05-28
2021-05-27
2021-05-26
2021-05-25
2021-05-24
2021-05-23
2021-05-22
2021-05-21
2021-05-20
2021-05-19
2021-05-18
2021-05-17
2021-05-16
2021-05-15
2021-05-14
2021-05-13
2021-05-12
2021-05-11
2021-05-10
2021-05-09
2021-05-08
2021-05-07
2021-05-06
2021-05-05
2021-05-04
2021-05-03
2021-05-02
2021-05-01
2021-04-30
2021-04-29
2021-04-28
2021-04-27
2021-04-26
2021-04-25
2021-04-24
2021-04-23
2021-04-22
2021-04-21
2021-04-20
2021-04-19
2021-04-18
2021-04-17
2021-04-16
2021-04-15
2021-04-14
2021-04-13
2021-04-12
2021-04-11
2021-04-10
2021-04-09
2021-04-08
2021-04-07
2021-04-06
2021-04-05
2021-04-04
2021-04-03
2021-04-02
2021-04-01
2021-03-31
2021-03-30
2021-03-29
2021-03-28
2021-03-27
2021-03-26
2021-03-25
2021-03-24
2021-03-23
2021-03-22
2021-03-21
2021-03-20
2021-03-19
2021-03-18
2021-03-17
2021-03-16
2021-03-15
2021-03-14
2021-03-13
2021-03-12
2021-03-11
2021-03-10
2021-03-09
2021-03-08
2021-03-07
2021-03-06
2021-03-05
2021-03-04
2021-03-03
2021-03-02
2021-03-01
2021-02-28
2021-02-27
2021-02-26
2021-02-25
2021-02-24
2021-02-23
2021-02-22
2021-02-21
2021-02-20
2021-02-19
2021-02-18
2021-02-08
2021-02-07
2021-02-06
2021-02-05
2021-02-04
2021-02-03
2021-02-02
2021-02-01
2021-01-31
2021-01-30
2021-01-29
2021-01-28
2021-01-27
2021-01-26
2021-01-25
2021-01-24
2021-01-23
2021-01-22
2021-01-21
2021-01-20
2021-01-19
2021-01-18
2021-01-17
2021-01-16
2021-01-15
2021-01-14
2021-01-13
2021-01-12
2021-01-11
2021-01-10
2021-01-09
2021-01-08
2021-01-07
2021-01-06
2021-01-05
2021-01-04
2021-01-03
2021-01-02
2021-01-01
2020-12-31
2020-12-30
2020-12-29
2020-12-28
2020-12-27
2020-12-26
2020-12-25
2020-12-24
2020-12-23
2020-12-22
2020-12-21
2020-12-20
2020-12-19
2020-12-18
2020-12-17
2020-12-16
2020-12-15
2020-12-14
2020-12-13
2020-12-12
2020-12-11
2020-12-10
2020-12-09
2020-12-08
2020-12-07
2020-12-06
2020-12-05
2020-12-04
2020-12-03
2020-12-02
2020-12-01
2020-11-30
2020-11-29
2020-11-28
2020-11-27
2020-11-26
2020-11-25
2020-11-24
2020-11-23
2020-11-22
2020-11-21
2020-11-20
2020-11-19
2020-11-18
2020-11-17
2020-11-16
2020-11-15
2020-11-14
2020-11-13
2020-11-12
2020-11-11
2020-11-10
2020-11-09
2020-11-08
2020-11-07
2020-11-06
2020-11-05
2020-11-04
2020-11-03
2020-11-02
2020-11-01
2020-10-31
2020-10-30
2020-10-29
2020-10-28
2020-10-27
2020-10-26
2020-10-25
2020-10-24
2020-10-23
2020-10-22
2020-10-21
2020-10-20
2020-10-19
2020-10-18
2020-10-17
2020-10-16
2020-10-15
2020-10-14
2020-10-13
2020-10-12
2020-10-11
2020-10-10
2020-10-09
2020-10-08
2020-10-07
2020-10-06
2020-10-05
2020-10-04
2020-10-03
2020-10-02
2020-10-01
2020-09-30
2020-09-29
2020-09-28
2020-09-27
2020-09-26
2020-09-25
2020-09-24
2020-09-23
2020-09-22
2020-09-21
2020-09-20
2020-09-19
2020-09-18
2020-09-17
2020-09-16
2020-09-15
2020-09-14
2020-09-13
2020-09-12
2020-09-11
2020-09-10
2020-09-09
2020-09-08
2020-09-07
2020-09-06
2020-09-05
2020-09-04
2020-09-03
2020-09-02
2020-09-01
2020-08-31
2020-08-30
2020-08-29
2020-08-28
2020-08-27
2020-08-26
2020-08-25
2020-08-24
2020-08-23
2020-08-22
2020-08-21
2020-08-20
2020-08-19
2020-08-18
2020-08-17
2020-08-16
2020-08-15
2020-08-14
2020-08-13
2020-08-12
2020-08-11
2020-08-10
2020-08-09
2020-08-08
2020-08-07
2020-08-06
2020-08-05
2020-08-04
2020-08-03
2020-08-02
2020-08-01
2020-07-31
2020-07-30
2020-07-29
2020-07-28
2020-07-27
2020-07-26
2020-07-25
2020-07-24
2020-07-23
2020-07-22
2020-07-21
2020-07-20
2020-07-19
2020-07-18
2020-07-17
2020-07-16
2020-07-15
2020-07-14
2020-07-13
2020-07-12
2020-07-11
2020-07-10
2020-07-09
2020-07-08
2020-07-07
2020-07-06
2020-07-05
2020-07-04
2020-07-03
2020-07-02
2020-07-01
2020-06-30
2020-06-29
2020-06-28
2020-06-27
2020-06-26
2020-06-25
2020-06-24
2020-06-23
2020-06-22
2020-06-21
2020-06-20
2020-06-19
2020-06-18
2020-06-17
2020-06-16
2020-06-15
2020-06-14
2020-06-13
2020-06-12
2020-06-11
2020-06-10
2020-06-09
2020-06-08
2020-06-07
2020-06-06
2020-06-05
2020-06-04
2020-06-03
2020-06-02
2020-06-01
2020-05-31
2020-05-30
2020-05-29
2020-05-28
2020-05-27
2020-05-26
2020-05-25
2020-05-24
2020-05-23
2020-05-22
2020-05-21
2020-05-20
2020-05-19
2020-05-18
2020-05-17
2020-05-16
2020-05-15
2020-05-14
2020-05-13
2020-05-12
2020-05-11
2020-05-10
2020-05-09
2020-05-08
2020-05-07
2020-05-06
2020-05-05
2020-05-04
2020-05-03
2020-05-02
2020-05-01
2020-04-30
2020-04-29
2020-04-28
2020-04-27
2020-04-26
2020-04-25
2020-04-24
2020-04-23
2020-04-22
2020-04-21
2020-04-20
2020-04-19
2020-04-18
2020-04-17
2020-04-16
2020-04-15
2020-04-14
2020-04-13
2020-04-12
2020-04-11
2020-04-10
2020-04-09
2020-04-08
2020-04-07
2020-04-06
2020-04-05
2020-04-04
2020-04-03
2020-04-02
2020-04-01
2020-03-31
2020-03-30
2020-03-29
2020-03-28
2020-03-27
2020-03-26
2020-03-25
2020-03-24
2020-03-23
2020-03-22
2020-03-21
2020-03-20
2020-03-19
2020-03-18
2020-03-17
2020-03-16
2020-03-15
2020-03-14
2020-03-13
2020-03-12
2020-03-11
2020-03-10
2020-03-09
2020-03-08
2020-03-07
2020-03-06
2020-03-05
2020-03-04
2020-03-03
2020-03-02
2020-03-01
2020-02-28
2020-02-27
2020-02-26
2020-02-25
2020-02-24
2020-02-23
2020-02-22
2020-02-21
2020-02-20
2020-02-19
2020-02-18
2020-02-17
2020-02-16
2020-02-15
2020-02-14
2020-02-13
2020-02-12
2020-02-11
2020-02-10
2020-02-09
2020-02-08
2020-02-07
2020-02-06
2020-02-05
2020-02-04
2020-02-03
2020-02-02
2020-02-01
2020-01-22
2020-01-21
2020-01-20
2020-01-19
2020-01-18
2020-01-17
2020-01-16
2020-01-15
2020-01-14
2020-01-13
2020-01-12
2020-01-11
2020-01-10
2020-01-09
2020-01-08
2020-01-07
2020-01-06
2020-01-05
2020-01-04
2020-01-03
2020-01-02
2020-01-01
2018-07-26
2018-07-25
2018-07-24
2018-07-23
2018-07-22
2018-07-21
2018-07-20
2018-07-19
2018-07-18
2018-07-17
2018-07-16
2018-07-15
2018-07-14
2018-07-13
2018-07-12
2018-07-11
2018-07-10
2018-07-09
2018-07-08
2018-07-07
2018-07-06
2018-07-05
2018-07-04
2018-07-03
2018-07-02
2018-07-01
2018-06-30
2018-06-29
2018-06-28
2018-06-27
2018-06-26
2018-06-25
2018-06-24
2018-06-23
2018-06-22
2018-06-21
2018-06-20
2018-06-19
2018-06-18
2018-06-17
2018-06-16
2018-06-15
2018-06-14
2018-06-13
2018-06-12
2018-06-11
2018-06-10
2018-06-09
2018-06-08
2018-06-07
2018-06-06
2018-06-05
2018-06-04
2018-06-03
2018-06-02
2018-06-01
2018-05-31
2018-05-30
2018-05-29
2018-05-28
2018-05-27
2018-05-26
2018-05-25
2018-05-24
2018-05-23
2018-05-22
2018-05-21
2018-05-20
2018-05-19
2018-05-18
2018-05-17
2018-05-16
2018-05-15
2018-05-14
2018-05-13
2018-05-12
2018-05-11
2018-05-10
2018-05-09
2018-05-08
2018-05-07
2018-05-06
2018-05-05
2018-05-04
2018-05-03
2018-05-02
2018-05-01
2018-04-30
2018-04-29
2018-04-28
2018-04-27
2018-04-26
2018-04-25
2018-04-24
2018-04-23
2018-04-22
2018-04-21
2018-04-20
2018-04-19
2018-04-18
2018-04-17
2018-04-16
2018-04-15
2018-04-14
2018-04-13
2018-04-12
2018-04-11
2018-04-10
2018-04-09
2018-04-08
2018-04-07
2018-04-06
2018-04-05
2018-04-04
2018-04-03
2018-04-02
2018-04-01
2018-03-31
2018-03-30
2018-03-29
2018-03-28
2018-03-27
2018-03-26
2018-03-25
2018-03-24
2018-03-23
2018-03-22
2018-03-21
2018-03-20
2018-03-19
2018-03-18
2018-03-17
2018-03-16
2018-03-15
2018-03-14
2018-03-13
2018-03-12
2018-03-11
2018-03-10
2018-03-09
2018-03-08
2018-03-07
2018-03-06
2018-03-05
2018-03-04
2018-03-03
2018-03-02
2018-03-01
2018-02-28
2018-02-27
2018-02-26
2018-02-25
2018-02-24
2018-02-23
2018-02-22
2018-02-21
2018-02-20
2018-02-19
2018-02-18
2018-02-17
2018-02-16
2018-02-15
2018-02-14
2018-02-13
2018-02-12
2018-02-11
2018-02-10
2018-02-09
2018-02-08
2018-02-07
2018-02-06
2018-02-05
2018-02-04
2018-02-03
2018-02-02
2018-02-01
2018-01-31
2018-01-30
2018-01-29
2018-01-28
2018-01-27
2018-01-26
2018-01-25
2018-01-24
2018-01-23
2018-01-22
2018-01-21
2018-01-20
2018-01-19
2018-01-18
2018-01-17
2018-01-16
2018-01-15
2018-01-14
2018-01-13
2018-01-12
2018-01-11
2018-01-10
2018-01-09
2018-01-08
2018-01-07
2018-01-06
2018-01-05
2018-01-04
2018-01-03
2018-01-02
2018-01-01
2017-12-31
2017-12-30
2017-12-29
2017-12-28
2017-12-27
2017-12-26
2017-12-25
2017-12-24
2017-12-23
2017-12-22
2017-12-21
2017-12-20
2017-12-19
2017-12-18
2017-12-17
2017-12-16
2017-12-15
2017-12-14
2017-12-13
2017-12-12
2017-12-11
2017-12-10
2017-12-09
2017-12-08
2017-12-07
2017-12-06
2017-12-05
2017-12-04
2017-12-03
2017-12-02
2017-12-01
2017-11-30
2017-11-29
2017-11-28
2017-11-27
2017-11-26
2017-11-25
2017-11-24
2017-11-23
2017-11-22
2017-11-21
2017-11-20
2017-11-19
2017-11-18
2017-11-17
2017-11-16
2017-11-15
2017-11-14
2017-11-13
2017-11-12
2017-11-11
2017-11-10
2017-11-09
2017-11-08
2017-11-07
2017-11-06
2017-11-05
2017-11-04
2017-11-03
2017-11-02
2017-11-01
2017-10-31
2017-10-30
2017-10-29
2017-10-28
2017-10-27
2017-10-26
2017-10-25
2017-10-24
2017-10-23
2017-10-22
2017-10-21
2017-10-20
2017-10-19
2017-10-18
2017-10-17
2017-10-16
2017-10-15
2017-10-14
2017-10-13
2017-10-12
2017-10-11
2017-10-10
2017-10-09
2017-10-08
2017-10-07
2017-10-06
2017-10-05
2017-10-04
2017-10-03
2017-10-02
2017-10-01
2017-09-30
2017-09-29
2017-09-28
2017-09-27
2017-09-26
2017-09-25
2017-09-24
2017-09-23
2017-09-22
2017-09-21
2017-09-20
2017-09-19
2017-09-18
2017-09-17
2017-09-16
2017-09-15
2017-09-14
2017-09-13
2017-09-12
2017-09-11
2017-09-10
2017-09-09
2017-09-08
2017-09-07
2017-09-06
2017-09-05
2017-09-04
2017-09-03
2017-09-02
2017-09-01
2017-08-31
2017-08-30
2017-08-29
2017-08-28
2017-08-27
2017-08-26
2017-08-25
2017-08-24
2017-08-23
2017-08-22
2017-08-21
2017-08-20
2017-08-19
2017-08-18
2017-08-17
2017-08-16
2017-08-15
2017-08-14
2017-08-13
2017-08-12
2017-08-11
2017-08-10
2017-08-09
2017-08-08
2017-08-07
2017-08-06
2017-08-05
2017-08-04
2017-08-03
2017-08-02
2017-08-01
2017-07-31
2017-07-30
2017-07-29
2017-07-28
2017-07-27
2017-07-26
2017-07-25
2017-07-24
2017-07-23
2017-07-22
2017-07-21
2017-07-20
2017-07-19
2017-07-18
2017-07-17
2017-07-16
2017-07-15
2017-07-14
2017-07-13
2017-07-12
2017-07-11
2017-07-10
2017-07-09
2017-07-08
2017-07-07
2017-07-06
2017-07-05
2017-07-04
2017-07-03
2017-07-02
2017-07-01
2017-06-30
2017-06-29
2017-06-28
2017-06-27
2017-06-26
2017-06-25
2017-06-24
2017-06-23
2017-06-22
2017-06-21
2017-06-20
2017-06-19
2017-06-18
2017-06-17
2017-06-16
2017-06-15
2017-06-14
2017-06-13
2017-06-12
2017-06-11
2017-06-10
2017-06-09
2017-06-08
2017-06-07
2017-06-06
2017-06-05
2017-06-04
2017-06-03
2017-06-02
2017-06-01
2017-05-31
2017-05-30
2017-05-29
2017-05-28
2017-05-27
2017-05-26
2017-05-25
2017-05-24
2017-05-23
2017-05-22
2017-05-21
2017-05-20
2017-05-19
2017-05-18
2017-05-17
2017-05-16
2017-05-15
2017-05-14
2017-05-13
2017-05-12
2017-05-11
2017-05-10
2017-05-09
2017-05-08
2017-05-07
2017-05-06
2017-05-05
2017-05-04
2017-05-03
2017-05-02
2017-05-01
2017-04-30
2017-04-29
2017-04-28
2017-04-27
2017-04-26
2017-04-25
2017-04-24
2017-04-23
2017-04-22
2017-04-21
2017-04-20
2017-04-19
2017-04-18
2017-04-17
2017-04-16
2017-04-15
2017-04-14
2017-04-13
2017-04-12
2017-04-11
2017-04-10
2017-04-09
2017-04-08
2017-04-07
2017-04-06
2017-04-05
2017-04-04
2017-04-03
2017-04-02
2017-04-01
2017-03-31
2017-03-30
2017-03-29
2017-03-28
2017-03-27
2017-03-26
2017-03-25
2017-03-24
2017-03-23
2017-03-22
2017-03-21
2017-03-20
2017-03-19
2017-03-18
2017-03-17
2017-03-16
2017-03-15
2017-03-14
2017-03-13
2017-03-12
2017-03-11
2017-03-10
2017-03-09
2017-03-08
2017-03-07
2017-03-06
2017-03-05
2017-03-04
2017-03-03
2017-03-02
2017-03-01
2017-02-28
2017-02-27
2017-02-26
2017-02-25
2017-02-24
2017-02-23
2017-02-22
2017-02-21
2017-02-20
2017-02-19
2017-02-18
2017-02-17
2017-02-16
2017-02-15
2017-02-14
2017-02-13
2017-02-12
2017-02-11
2017-02-10
2017-02-09
2017-02-08
2017-02-07
2017-02-06
2017-02-05
2017-02-04
2017-02-03
2017-02-02
2017-02-01
2017-01-31
2017-01-30
2017-01-29
2017-01-28
2017-01-27
2017-01-26